<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Shipwreck.ClickOnce.Manifest.Demo.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Shipwreck.ClickOnce.Manifest.Demo.Properties.Settings>
      <setting name="a"
               serializeAs="String">
        <value />
      </setting>
      <setting name="b"
               serializeAs="String">
        <value />
      </setting>
    </Shipwreck.ClickOnce.Manifest.Demo.Properties.Settings>
  </userSettings>
  <system.diagnostics>
    <sharedListeners>
      <add name="console"
           type="System.Diagnostics.ConsoleTraceListener" />
    </sharedListeners>
    <sources>
      <source name="Shipwreck.ClickOnce.Manifest"
              switchType="System.Diagnostics.SourceSwitch"
              switchValue="Verbose">
        <listeners>
          <clear />
          <add name="console" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>